@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-image: url("background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

h1 {
  color: whitesmoke;
  font-size: 4em;
  text-shadow: 0.25em 0.25em 0.35em black;
  padding: 1em;
}

h2,
span {
  color: whitesmoke;
}

h2 {
  text-shadow: 0.25em 0.25em 0.75em black;
  font-size: 3em;
  padding: 0.5em;
  word-spacing: 2em;
}

span {
  text-shadow: 0.25em 0.25em 0.5em black;
  font-size: 2.5em;
  word-spacing: 1.75em;
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    padding: 0.5em;
    word-spacing: 2.5em;
  }
  h2,
  span {
    font-size: 1.25em;
  }
}
